/*!
Theme Name: R2
Author: Bondarenko Roman
Author URI: https://unrealthemes.site/
Description: Description
Version: 1.2
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: R2
*/

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Response cf7 */
div.wpcf7-validation-errors {
    background: #F44336;
    color: #fff;
    padding: 10px;
    font-size: 15px;
    border: none;
    position: relative;
    margin: 10px 0 0 0;
    border-radius: 5px;
    text-align: justify;
}

div.wpcf7-mail-sent-ok {
    background: #2cb742;
    color: #fff;
    padding: 10px;
    font-size: 15px;
    border: none;
    position: relative;
    margin: 10px 0 0 0;
    border-radius: 5px;
    text-align: justify;
}

div.wpcf7-spam-blocked {
    background: #ffa500;
    color: #fff;
    padding: 10px;
    font-size: 15px;
    border: none;
    position: relative;
    margin: 10px 0 0 0;
    border-radius: 5px;
    text-align: justify;
}

div.wpcf7-mail-sent-ok::after {
    content: '';
    position: absolute;
    left: 20px;
    top: -20px;
    border: 10px solid transparent;
    border-bottom: 10px solid #2cb742;
    border-left: 10px solid #2cb742;
}

div.wpcf7-validation-errors::after {
    content: '';
    position: absolute;
    left: 20px;
    top: -20px;
    border: 10px solid transparent;
    border-bottom: 10px solid #f44336;
    border-left: 10px solid #f44336;
}

div.wpcf7-spam-blocked::after {
    content: '';
    position: absolute;
    left: 20px;
    top: -20px;
    border: 10px solid transparent;
    border-bottom: 10px solid #ffa500;
    border-left: 10px solid #ffa500;
}
/* END: Response cf7 */

.site-main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px 10px;
}

.wpcf7-spinner {
    display: none;
}

.contact-form.fancybox-content .form-wrapper form .wpcf7-form-control-wrap {
    max-width: 250px;
    width: 100%;
    margin-bottom: 60px;
}

.contact-form.fancybox-content .form-wrapper form .wpcf7-form-control-wrap.message_r2 {
    max-width: 400px;
    width: 100%;
    margin-bottom: 60px;
    height: calc(95px - 15px);
    width: 400px;
}





.contact-form.fancybox-content .form-wrapper form .wpcf7-form-control-wrap.message_r2 {
    max-width: 100%;
    width: 100%;
}
@media screen and (max-width: 1000px) {
    .contact-form.fancybox-content .form-wrapper form .wpcf7-form-control-wrap {
        max-width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 40px;
    }
    .contact-form.fancybox-content .form-wrapper form .wpcf7-form-control-wrap input, 
    .contact-form.fancybox-content .form-wrapper form .wpcf7-form-control-wrap textarea {
        margin-bottom: 0;
    }
    .contact-form.fancybox-content .form-wrapper form .wpcf7-form-control-wrap.message_r2 {
        margin-bottom: 40px;
    }
}
@media screen and (max-width: 720px) {
    .contact-form.fancybox-content .form-wrapper form .wpcf7-form-control-wrap {
        max-width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 25px;
    }
    .contact-form.fancybox-content .form-wrapper form .wpcf7-form-control-wrap.message_r2 {
        margin-bottom: 25px;
    }
    .contact-form.fancybox-content .form-wrapper form .wpcf7-form-control-wrap input, 
    .contact-form.fancybox-content .form-wrapper form .wpcf7-form-control-wrap textarea {
        max-width: 80% !important;
        width: 100% !important;
    }
    .contact-form.fancybox-content .form-wrapper form .wpcf7-form-control-wrap.message_r2 {
        max-width: 100%;
        width: 100%;
    }
}
@media screen and (max-width: 560px) {
    .contact-form.fancybox-content .form-wrapper form .wpcf7-form-control-wrap input, 
    .contact-form.fancybox-content .form-wrapper form .wpcf7-form-control-wrap textarea {
        max-width: 100% !important;
        width: 100% !important;
    }
}