@font-face {
  font-family: "Audiowide-Regular";
  font-display: swap;
  src: url("../fonts/Audiowide-Regular.woff") format("woff"), url("../fonts/Audiowide-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Regular";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Light";
  font-display: swap;
  src: url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: light;
}

:root {
  --color-text-white: rgba(238, 238, 238, 1);
  --color-text-bleck: rgba(48, 56, 65, 1);
  --color-text-bleck-2: rgba(58, 70, 82, 1);
  --color-text-gray: rgba(141, 135, 135, 1);
  --color-text-gray-2: rgba(238, 238, 238, 0.7);
  --color-text-yellow: rgba(246, 201, 14, 0.8);
  --color-text-yellow-2: rgba(246, 201, 14, 1);
  --color-text-blue: rgba(51, 102, 153, 0.7);
}

:root {
  --color-text-white: rgba(238, 238, 238, 1);
  --color-text-bleck: rgba(48, 56, 65, 1);
  --color-text-bleck-2: rgba(58, 70, 82, 1);
  --color-text-gray: rgba(141, 135, 135, 1);
  --color-text-gray-2: rgba(238, 238, 238, 0.7);
  --color-text-yellow: rgba(246, 201, 14, 0.8);
  --color-text-yellow-2: rgba(246, 201, 14, 1);
  --color-text-blue: rgba(51, 102, 153, 0.7);
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

body,
html {
  overflow-x: hidden !important;
  margin: 0 auto;
  position: relative;
  cursor: default;
  color: var(--color-text-bleck);
  font-family: "OpenSans-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
}

input {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="text"],
input[type="submit"],
input[type="search"],
input[type="tel"],
input[type="email"],
textarea {
  -webkit-appearance: none;
  outline: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.main-page::before {
  display: none;
}

.main-page.active {
  position: relative;
}

.main-page.active .banner-container-wrapper::before,
.main-page.active .about-us-wrapper::before,
.main-page.active .expert-wrapper::before,
.main-page.active .carts-wrapper::before,
.main-page.active footer::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  color: var(--color-text-gray);
  font-family: "Audiowide-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
  z-index: 12;
  position: fixed;
  height: 100px;
  width: 100%;
}

header .header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 32px 20px;
  position: relative;
  max-width: 1160px;
}

header .languages-container {
  padding: 0 15px;
  margin-left: -15px;
  text-transform: uppercase;
}

header .languages-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .languages-container ul li {
  margin-right: 20px;
}

header .languages-container ul li a {
  color: var(--color-text-gray);
}

header .logo {
  padding: 0 15px;
}

header .menu-container {
  padding: 0 15px;
  cursor: pointer;
  margin-right: -15px;
  position: relative;
}

header .menu-container .btn-menu {
  text-transform: uppercase;
}

header .menu-container .mobile-btn-menu {
  display: none;
}

header .menu-container .mobile-btn-menu .ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  -o-transition: transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

header .menu-container .mobile-btn-menu .line {
  fill: none;
  -webkit-transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  -o-transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: rgba(238, 238, 238, 0.7);
  stroke-width: 5.5;
  stroke-linecap: round;
}

header .menu-container .mobile-btn-menu .ham8 .top {
  stroke-dasharray: 40 160;
}

header .menu-container .mobile-btn-menu .ham8 .middle {
  stroke-dasharray: 40 142;
  -webkit-transform-origin: 50%;
      -ms-transform-origin: 50%;
          transform-origin: 50%;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  -o-transition: transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

header .menu-container .mobile-btn-menu .ham8 .bottom {
  stroke-dasharray: 40 85;
  -webkit-transform-origin: 50%;
      -ms-transform-origin: 50%;
          transform-origin: 50%;
  -webkit-transition: stroke-dashoffset 400ms, -webkit-transform 400ms;
  transition: stroke-dashoffset 400ms, -webkit-transform 400ms;
  -o-transition: transform 400ms, stroke-dashoffset 400ms;
  transition: transform 400ms, stroke-dashoffset 400ms;
  transition: transform 400ms, stroke-dashoffset 400ms, -webkit-transform 400ms;
}

header .menu-container nav {
  padding-top: 40px;
  position: absolute;
  right: 10px;
  top: 0;
  min-width: 150px;
  height: auto;
  z-index: 10;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform: translate(0, -150%);
      -ms-transform: translate(0, -150%);
          transform: translate(0, -150%);
}

header .menu-container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
}

header .menu-container nav ul li {
  margin: 5px;
}

header .menu-container nav ul li a {
  font-family: "OpenSans-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--color-text-gray);
  cursor: pointer;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: capitalize;
}

header .menu-container:hover .menu-list {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

header .menu-container.active .mobile-btn-menu .hamRotate {
  -webkit-transform: rotate(45deg) !important;
      -ms-transform: rotate(45deg) !important;
          transform: rotate(45deg) !important;
}

header .menu-container.active .mobile-btn-menu .hamRotate180 {
  -webkit-transform: rotate(180deg) !important;
      -ms-transform: rotate(180deg) !important;
          transform: rotate(180deg) !important;
}

header .menu-container.active .mobile-btn-menu .ham8 .top {
  stroke-dashoffset: -64px !important;
}

header .menu-container.active .mobile-btn-menu .ham8 .middle {
  -webkit-transform: rotate(90deg) !important;
      -ms-transform: rotate(90deg) !important;
          transform: rotate(90deg) !important;
}

header .menu-container.active .mobile-btn-menu .ham8 .bottom {
  stroke-dashoffset: -64px !important;
}

.banner-container-wrapper {
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  position: relative;
  overflow: hidden;
}

.banner-container-wrapper canvas,
.banner-container-wrapper #background-video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
  background: radial-gradient(#000, #111), #000;
}

.banner-container {
  color: var(--color-text-white);
  max-width: calc(995px + 20px + 20px);
  margin: 0 auto;
  padding: 33px 20px 154px 20px;
}

.banner-container .inf-wrapper {
  margin-top: 166px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner-container .title-container {
  max-width: 354px;
  margin-right: 30px;
  width: 100%;
  min-width: 354px;
}

.banner-container .title-container h1 {
  font-family: "Audiowide-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  top: 20px;
}

.banner-container .title-container h1 span {
  font-size: 56px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.banner-container .title-container h1 span:first-child {
  text-transform: capitalize;
}

.banner-container .title-container h1 span:nth-child(odd) {
  color: #fff;
}

.banner-container .title-container h1 span:nth-child(even) {
  color: var(--color-text-yellow-2);
  font-size: 32px;
  top: 8px;
  z-index: 2;
}

.banner-container .title-container h1 span:nth-child(3) {
  top: 5px;
  font-size: 39px;
  width: 91px;
}

.banner-container .title-container h1 span:nth-child(4) {
  font-size: 26px;
  margin-left: -23px;
}

.banner-container .title-container .img-wrap-logo {
  width: 108px;
  margin-left: 10px;
}

.banner-container .title-container .img-wrap-logo img {
  width: 100%;
}

.banner-container .title-container .img-wrap-text {
  margin-bottom: 10px;
}

.banner-container .text-container {
  max-width: 515px;
  margin-top: 35px;
  position: relative;
  z-index: 2;
}

.banner-container .text-container h2 {
  font-family: "Audiowide-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--color-text-yellow-2);
  font-size: 38px;
  letter-spacing: 0.1em;
}

.banner-container .text-container p {
  margin-top: 35px;
  font-family: "OpenSans-Light", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: var(--color-text-white);
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
}

.banner-container .social-container {
  position: absolute;
  right: -150px;
  top: 368px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.banner-container .social-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner-container .social-container ul li {
  padding: 0 33px 0 26px;
  position: relative;
}

.banner-container .social-container ul li::after {
  content: "";
  background-image: url(../img/line.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 21px;
  height: 7px;
  top: 50%;
  margin-top: -3.5px;
  right: -7px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.banner-container .social-container ul li:last-child::after {
  content: none;
}

.banner-container .social-container ul li a span {
  color: var(--color-text-gray);
  font-size: 14px;
  line-height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  font-family: "OpenSans-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.banner-container .social-container ul li a .img-wrapper {
  display: none;
}

.banner-container .hireus-button {
  font-family: "Audiowide-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  right: 51px;
  bottom: 51px;
  cursor: pointer;
  border: 1px solid var(--color-text-yellow);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 13px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-text-yellow);
}

.main-content {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(48.23%, rgba(141, 135, 135, 0.21)), to(rgba(255, 255, 255, 0)));
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(141, 135, 135, 0.21) 48.23%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(141, 135, 135, 0.21) 48.23%, rgba(255, 255, 255, 0) 100%);
}

.main-content.active {
  position: relative;
}

.main-content.active .carts-content .cart {
  background: none;
}

.about-us-wrapper {
  position: relative;
}

.about-us-container {
  max-width: calc(1030px + 40px);
  margin: 0 auto;
  padding: 250px 20px 0 20px;
}

.about-us-container .bg-img {
  position: absolute;
  right: 0;
  top: 15px;
}

.about-us-container .inf-container {
  position: relative;
}

.about-us-container .inf-container h4 {
  font-family: "Audiowide-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--color-text-yellow);
  font-size: 24.2387px;
  line-height: 10px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.about-us-container .inf-container .text-wrapper p {
  font-family: "OpenSans-Light", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: var(--color-text-bleck);
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.15em;
  margin-bottom: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.about-us-container .inf-container .text-wrapper p:nth-last-child(2) {
  margin-bottom: 0;
}

.about-us-container .inf-container .text-wrapper p:last-child {
  margin-bottom: 0 !important;
}

.about-us-container .inf-container .text-wrapper .btn-show-hide {
  display: none;
  cursor: pointer;
  color: var(--color-text-blue);
  text-decoration: underline;
}

.about-us-container .inf-container .text-wrapper .btn-show-hide .show {
  display: block;
}

.about-us-container .inf-container .text-wrapper .btn-show-hide .hide {
  display: none;
}

.about-us-container .inf-container .text-wrapper .btn-show-hide.active .show {
  display: none;
}

.about-us-container .inf-container .text-wrapper .btn-show-hide.active .hide {
  display: block;
}

.carts-expert-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-bottom: 128px;
}

.carts-expert-wrapper .bg-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

.carts-expert-wrapper .bg-wrapper img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.carts-wrapper {
  z-index: 2;
  position: relative;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 247px;
}

.carts-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 960px;
  padding: 0 20px;
  width: 100%;
}

.carts-content .cart {
  width: calc(306px - 100px);
  min-height: calc(302px - 132px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: relative;
  padding: 100px 50px 32px 50px;
  z-index: 8 !important;
}

.carts-content .cart .img-wrapper {
  margin: 0 0 35px 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.carts-content .cart h5 {
  font-family: "Audiowide-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.055em;
  text-transform: capitalize;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.carts-content .cart:hover {
  background: -o-linear-gradient(211.53deg, #ffffff 0%, #eeeeee 69.33%), rgba(255, 255, 255, 0.7);
  background: linear-gradient(238.47deg, #ffffff 0%, #eeeeee 69.33%), rgba(255, 255, 255, 0.7);
  border-radius: 30px;
}

.carts-content .cart:hover:nth-child(1) {
  border-radius: 30px 30px 0 30px;
}

.carts-content .cart:hover:nth-child(2) {
  border-radius: 30px 30px 0 0;
}

.carts-content .cart:hover:nth-child(3) {
  border-radius: 30px 30px 30px 0;
}

.carts-content .cart:hover:nth-child(4) {
  border-radius: 30px 0 0 30px;
}

.carts-content .cart:hover:nth-child(5) {
  border-radius: 0 30px 30px 0;
}

.carts-content .cart:hover .img-wrapper {
  -webkit-transform: scale(2);
      -ms-transform: scale(2);
          transform: scale(2);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.carts-content .cart:hover h5 {
  font-size: 22px;
  line-height: 28px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.carts-content .cart .inform-hidden {
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
  height: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.carts-content .cart.active {
  height: auto;
  min-height: calc(302px - 64px);
  padding: 32px 50px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: #eeeeee;
  -webkit-box-shadow: 0px 4px 53px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 53px rgba(0, 0, 0, 0.25);
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(#eeeeee), to(white)) !important;
  background: -o-linear-gradient(white, #eeeeee, white) !important;
  background: linear-gradient(white, #eeeeee, white) !important;
  border-radius: 10px !important;
  z-index: 15 !important;
}

.carts-content .cart.active::before,
.carts-content .cart.active::after {
  content: none !important;
}

.carts-content .cart.active .img-wrapper {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.carts-content .cart.active h5 {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.055em;
  margin-bottom: 20px;
}

.carts-content .cart.active .inform-hidden {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
  height: auto;
}

.carts-content .cart.active .inform-hidden ul {
  list-style: disc;
}

.carts-content .cart.active .inform-hidden ul li {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.06em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-transform: capitalize;
  padding-bottom: 16px;
}

.carts-content .cart.active .inform-hidden ul li:last-child {
  padding-bottom: 0;
}

.carts-content .cart:nth-child(1) {
  background: -o-linear-gradient(315.75deg, rgba(255, 255, 255, 0) 50.03%, #ffffff 100%);
  background: linear-gradient(134.25deg, rgba(255, 255, 255, 0) 50.03%, #ffffff 100%);
  z-index: 2;
}

.carts-content .cart:nth-child(1):hover {
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(#eeeeee), to(white));
  background: -o-linear-gradient(white, #eeeeee, white);
  background: linear-gradient(white, #eeeeee, white);
}

.carts-content .cart:nth-child(2) {
  background: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(rgba(255, 255, 255, 0)));
  background: -o-linear-gradient(bottom, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(360deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
}

.carts-content .cart:nth-child(2)::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  left: 0;
  top: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(141, 135, 135, 0.8)), to(rgba(141, 135, 135, 0.24)));
  background: -o-linear-gradient(rgba(141, 135, 135, 0.8), rgba(141, 135, 135, 0.24));
  background: linear-gradient(rgba(141, 135, 135, 0.8), rgba(141, 135, 135, 0.24));
}

.carts-content .cart:nth-child(2)::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  right: 0;
  top: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(141, 135, 135, 0.8)), to(rgba(141, 135, 135, 0.24)));
  background: -o-linear-gradient(rgba(141, 135, 135, 0.8), rgba(141, 135, 135, 0.24));
  background: linear-gradient(rgba(141, 135, 135, 0.8), rgba(141, 135, 135, 0.24));
}

.carts-content .cart:nth-child(2):hover {
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(#eeeeee), to(white));
  background: -o-linear-gradient(white, #eeeeee, white);
  background: linear-gradient(white, #eeeeee, white);
}

.carts-content .cart:nth-child(3) {
  background: -o-linear-gradient(44.25deg, #ffffff 0%, rgba(255, 255, 255, 0) 51.8%);
  background: linear-gradient(45.75deg, #ffffff 0%, rgba(255, 255, 255, 0) 51.8%);
}

.carts-content .cart:nth-child(3):hover {
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(#eeeeee), to(white));
  background: -o-linear-gradient(white, #eeeeee, white);
  background: linear-gradient(white, #eeeeee, white);
}

.carts-content .cart:nth-child(4) {
  background: -o-linear-gradient(212.01deg, #ffffff 0%, rgba(255, 255, 255, 0) 64.92%);
  background: linear-gradient(237.99deg, #ffffff 0%, rgba(255, 255, 255, 0) 64.92%);
}

.carts-content .cart:nth-child(4)::before {
  content: "";
  position: absolute;
  width: 415px;
  height: 2px;
  right: 0;
  top: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(141, 135, 135, 0.8)), to(rgba(141, 135, 135, 0)));
  background: -o-linear-gradient(rgba(141, 135, 135, 0.8), rgba(141, 135, 135, 0));
  background: linear-gradient(rgba(141, 135, 135, 0.8), rgba(141, 135, 135, 0));
}

.carts-content .cart:nth-child(4)::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  right: 0;
  top: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(141, 135, 135, 0.24)), to(rgba(141, 135, 135, 0.8)));
  background: -o-linear-gradient(rgba(141, 135, 135, 0.24), rgba(141, 135, 135, 0.8));
  background: linear-gradient(rgba(141, 135, 135, 0.24), rgba(141, 135, 135, 0.8));
}

.carts-content .cart:nth-child(4):hover {
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(#eeeeee), to(rgba(255, 255, 255, 0.7)));
  background: -o-linear-gradient(white, #eeeeee, rgba(255, 255, 255, 0.7));
  background: linear-gradient(white, #eeeeee, rgba(255, 255, 255, 0.7));
}

.carts-content .cart:nth-child(5) {
  background: -o-linear-gradient(327.99deg, #ffffff 0%, rgba(255, 255, 255, 0) 62.91%);
  background: linear-gradient(122.01deg, #ffffff 0%, rgba(255, 255, 255, 0) 62.91%);
}

.carts-content .cart:nth-child(5)::before {
  content: "";
  position: absolute;
  width: 415px;
  height: 2px;
  left: 0;
  top: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(141, 135, 135, 0)), to(rgba(141, 135, 135, 0.8)));
  background: -o-linear-gradient(rgba(141, 135, 135, 0), rgba(141, 135, 135, 0.8));
  background: linear-gradient(rgba(141, 135, 135, 0), rgba(141, 135, 135, 0.8));
}

.carts-content .cart:nth-child(5):hover {
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(#eeeeee), to(rgba(255, 255, 255, 0.7)));
  background: -o-linear-gradient(white, #eeeeee, rgba(255, 255, 255, 0.7));
  background: linear-gradient(white, #eeeeee, rgba(255, 255, 255, 0.7));
}

.expert-wrapper {
  z-index: 2;
  position: relative;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 300px 0 128px 0;
}

.expert-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1180px;
  width: 100%;
  padding: 0 20px;
}

.expert-content .block-1 {
  max-width: calc(570px - 90px);
  padding: 9.5px 45px;
  background: rgba(255, 255, 255, 0.7);
  margin: 0 20px 0 0;
}

.expert-content .block-1 h3 {
  font-family: "Audiowide-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.expert-content .block-1 p {
  font-size: 16px;
  line-height: 25px;
  text-align: justify;
  letter-spacing: 0.1em;
}

.expert-content .block-2 {
  max-width: 500px;
  width: 100%;
}

.expert-content .block-2 img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.no-webp footer {
  background-image: url(../img/bg.png); }

footer {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

footer::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 40%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.18%, rgba(29, 29, 30, 0)), color-stop(56.46%, #000000));
  background: -o-linear-gradient(top, rgba(29, 29, 30, 0) 0.18%, #000000 56.46%);
  background: linear-gradient(180deg, rgba(29, 29, 30, 0) 0.18%, #000000 56.46%);
  z-index: 2;
}

footer img.footer-ie-bg {
  display: none;
}

.footer-wrapper {
  padding: 39px 20px 22px 20px;
  position: relative;
  z-index: 4;
  color: var(--color-text-gray-2);
}

.footer-wrapper .footer-content-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-wrapper .block-1 {
  max-width: 800px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 98px;
}

.footer-wrapper .block-1 .text-block {
  font-family: "Audiowide-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  line-height: 24px;
  letter-spacing: 0.07em;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-wrapper .block-1 .text-block span:nth-child(1),
.footer-wrapper .block-1 .text-block span:nth-child(3) {
  color: var(--color-text-gray-2);
}

.footer-wrapper .block-1 .text-block span:nth-child(2) {
  color: var(--color-text-yellow);
}

.footer-wrapper .block-1 .btn-connect {
  font-family: "Audiowide-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
  padding: 21px 62px 21px 30px;
  border: 1.76471px solid var(--color-text-gray-2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 3.52941px 35.2941px rgba(51, 102, 153, 0.4));
          filter: drop-shadow(0px 3.52941px 35.2941px rgba(51, 102, 153, 0.4));
  border-radius: 4.41177px;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: var(--color-text-gray-2);
  font-size: 21.1765px;
  line-height: 18px;
  position: relative;
}

.footer-wrapper .block-1 .btn-connect::after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -13px;
  right: 30px;
  width: 14px;
  height: 26px;
  background-image: url(../img/arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.footer-wrapper .block-2 {
  max-width: 1195px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-wrapper .block-2 .logo-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-wrapper .block-2 .logo-block .logo-footer {
  width: 64px;
  height: 45px;
  cursor: pointer;
}

.footer-wrapper .block-2 .logo-block .logo-footer img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer-wrapper .block-2 .logo-block .text-block {
  margin-top: 20px;
}

.footer-wrapper .block-2 .logo-block .text-block p {
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.footer-wrapper .block-2 .logo-block .text-block p:last-child {
  margin-bottom: 0;
}

.footer-wrapper .block-2 nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-wrapper .block-2 nav ul li a {
  color: var(--color-text-gray-2);
  cursor: pointer;
  font-size: 12px;
  line-height: 20px;
  text-align: right;
  letter-spacing: 0.1em;
  text-transform: capitalize;
}

.footer-wrapper .footer-content-2 {
  margin-top: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-wrapper .footer-content-2 a {
  color: var(--color-text-gray-2);
  font-size: 10px;
  line-height: 22px;
  letter-spacing: 0.03em;
  text-transform: capitalize;
}

.footer-wrapper .footer-content-2 span {
  font-size: 10px;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-wrapper .social-container {
  display: none;
}

.contact-form {
  display: none;
}

.contact-form.fancybox-content {
  padding: 20px;
  margin: 0 auto;
  position: relative;
  max-width: 1170px;
  width: 100%;
  background: transparent;
  z-index: 20;
}

.contact-form.fancybox-content .fancybox-close-small {
  right: 25px;
  top: 25px;
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}

.contact-form.fancybox-content .contact-form-block {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}

.contact-form.fancybox-content .contact-form-block h4 {
  font-size: 24px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.07em;
  text-transform: capitalize;
  color: var(--color-text-bleck-2);
}

.contact-form.fancybox-content .form-wrapper {
  padding: 80px 40px 80px 80px;
  background-color: #fff;
  max-width: 700px;
  width: 100%;
}

.contact-form.fancybox-content .form-wrapper form {
  margin-top: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-form.fancybox-content .form-wrapper form input {
  font-family: "OpenSans-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0 0 15px 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.07em;
  text-transform: capitalize;
  color: var(--color-text-bleck-2);
  border: 0;
  border-bottom: 1px solid #8d8787;
  /* max-width: 250px; */
  width: 100%;
  /* margin-bottom: 60px; */
}

.contact-form.fancybox-content .form-wrapper form input::-webkit-input-placeholder,
.contact-form.fancybox-content .form-wrapper form input::-moz-placeholder,
.contact-form.fancybox-content .form-wrapper form input:-moz-placeholder,
.contact-form.fancybox-content .form-wrapper form input:-ms-input-placeholder,
.contact-form.fancybox-content .form-wrapper form textarea::-webkit-placeholder,
.contact-form.fancybox-content .form-wrapper form textarea::-moz-placeholder,
.contact-form.fancybox-content .form-wrapper form textarea:-moz-placeholder,
.contact-form.fancybox-content .form-wrapper form textarea:-ms-placeholder {
  font-family: "OpenSans-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.07em;
  text-transform: capitalize;
  color: #8d8787;
}

.contact-form.fancybox-content .form-wrapper form textarea {
  font-family: "OpenSans-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0 0 15px 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.07em;
  text-transform: capitalize;
  color: #8d8787;
  border: 0;
  border-bottom: 1px solid #8d8787;
  max-width: 400px;
  width: 100%;
  /* margin-bottom: 60px; */
  resize: none;
  height: calc(95px - 15px);
  width: 400px;
}

.contact-form.fancybox-content .form-wrapper form input[type="submit"] {
  font-family: "Audiowide-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 15px 51px 15px 25px;
  background: rgba(246, 201, 14, 0.6);
  border-bottom: 0;
  border-radius: 3.66176px;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: var(--color-text-blue);
  cursor: pointer;
  margin-bottom: 0;
}

.contact-form.fancybox-content .form-wrapper form .form-btn-wrapper {
  position: relative;
  margin-bottom: 0;
}

.contact-form.fancybox-content .form-wrapper form .form-btn-wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 25px;
  margin-top: -11px;
  width: 12px;
  height: 22px;
  background-image: url(../img/arrow2.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-form.fancybox-content .form-wrapper form .form-btn-wrapper.active {
  position: relative;
}

.contact-form.fancybox-content .form-wrapper form .form-btn-wrapper.active::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 25px;
  margin-top: -10px;
  width: 20px;
  height: 20px;
  background-image: url(../img/checkbox.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-form.fancybox-content .form-wrapper .thank-you-hidden {
  color: var(--color-text-gray);
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 0.03em;
  opacity: 0;
  margin-top: 13px;
  width: 100%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.contact-form.fancybox-content .form-wrapper .thank-you-hidden.active {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 1;
}

.contact-form.fancybox-content .contact-wrapper {
  background-color: rgba(246, 201, 14, 0.6);
  padding: 80px 80px 90px 80px;
  max-width: 470px;
  width: 100%;
}

.contact-form.fancybox-content .contact-wrapper .contact-text {
  font-family: "OpenSans-Light", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: var(--color-text-bleck-2);
  margin: 30px auto 0 auto;
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 0.05em;
  max-width: 230px;
  width: 100%;
}

.contact-form.fancybox-content .contact-wrapper .informs-block {
  margin-top: 85px;
}

.contact-form.fancybox-content .contact-wrapper .informs-block .inform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 55px;
}

.contact-form.fancybox-content .contact-wrapper .informs-block .inform .icon-wrapper {
  max-width: 32px;
  width: 100%;
  margin-right: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-form.fancybox-content .contact-wrapper .informs-block .inform .icon-wrapper img {
  width: 100%;
}

.contact-form.fancybox-content .contact-wrapper .informs-block .inform p {
  color: var(--color-text-gray);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.07em;
  text-transform: capitalize;
}

.contact-form.fancybox-content .contact-wrapper .social-block ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-form.fancybox-content .contact-wrapper .social-block ul li {
  margin-right: 31px;
}

.contact-form.fancybox-content .contact-wrapper .social-block ul li:last-child {
  margin-right: 0;
}

.contact-form.fancybox-content .contact-wrapper .social-block ul li a {
  cursor: pointer;
}

body.contact-form .footer-wrapper {
  padding: 105px 20px 22px 20px;
}

body.contact-form .footer-wrapper .block-1 {
  display: none;
}

_:-ms-fullscreen,
*::-ms-backdrop,
:root body,
:root html {
  color: #303841;
}

_:-ms-fullscreen,
*::-ms-backdrop,
:root header {
  color: #8d8787;
}

_:-ms-fullscreen,
*::-ms-backdrop,
:root header .languages-container ul li a {
  color: #8d8787;
}

_:-ms-fullscreen,
*::-ms-backdrop,
:root header .menu-container nav ul li a {
  color: #8d8787;
}

_:-ms-fullscreen,
*::-ms-backdrop,
:root .banner-container-wrapper #background-video {
  height: inherit;
  width: 100%;
}

.no-webp _:-ms-fullscreen, .no-webp *::-ms-backdrop, .no-webp :root .banner-container-wrapper {
  background-image: url(../img/maxresdefault.jpg); }

_:-ms-fullscreen,
*::-ms-backdrop,
:root .banner-container {
  color: #eeeeee;
}

_:-ms-fullscreen,
*::-ms-backdrop,
:root .banner-container .title-container h1 span:nth-child(even) {
  color: #f6c90e;
}

_:-ms-fullscreen,
*::-ms-backdrop,
:root .banner-container .text-container h2 {
  color: #f6c90e;
}

_:-ms-fullscreen,
*::-ms-backdrop,
:root .banner-container .text-container p {
  color: #eeeeee;
}

_:-ms-fullscreen,
*::-ms-backdrop,
:root .banner-container .social-container ul li a span {
  color: #8d8787;
}

_:-ms-fullscreen,
*::-ms-backdrop,
:root .banner-container .hireus-button {
  border: 1px solid rgba(246, 201, 14, 0.8);
  color: rgba(246, 201, 14, 0.8);
}

_:-ms-fullscreen,
*::-ms-backdrop,
:root .about-us-container .inf-container h4 {
  color: rgba(246, 201, 14, 0.8);
}

_:-ms-fullscreen,
*::-ms-backdrop,
:root .about-us-container .inf-container .text-wrapper p {
  color: #303841;
}

_:-ms-fullscreen,
*::-ms-backdrop,
:root .about-us-container .inf-container .text-wrapper .btn-show-hide {
  color: rgba(51, 102, 153, 0.7);
}

.no-webp _:-ms-fullscreen, .no-webp *::-ms-backdrop, .no-webp :root footer {
  background-image: url(../img/bg.png); }

_:-ms-fullscreen,
*::-ms-backdrop,
:root footer img.footer-ie-bg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  right: 0;
}

_:-ms-fullscreen,
*::-ms-backdrop,
:root .footer-wrapper {
  color: rgba(238, 238, 238, 0.7);
}

_:-ms-fullscreen,
*::-ms-backdrop,
:root .footer-wrapper .block-1 .text-block span:nth-child(1) {
  color: rgba(238, 238, 238, 0.7);
}

_:-ms-fullscreen,
*::-ms-backdrop,
:root .footer-wrapper .block-1 .text-block span:nth-child(3) {
  color: rgba(238, 238, 238, 0.7);
}

_:-ms-fullscreen,
*::-ms-backdrop,
:root .footer-wrapper .block-1 .text-block span:nth-child(2) {
  color: rgba(246, 201, 14, 0.8);
}

_:-ms-fullscreen,
*::-ms-backdrop,
:root .footer-wrapper .block-1 .btn-connect {
  border: 1.76471px solid rgba(238, 238, 238, 0.7);
  color: rgba(238, 238, 238, 0.7);
}

_:-ms-fullscreen,
*::-ms-backdrop,
:root .footer-wrapper .block-2 nav ul li a {
  color: rgba(238, 238, 238, 0.7);
}

_:-ms-fullscreen,
*::-ms-backdrop,
:root .footer-wrapper .footer-content-2 a {
  color: rgba(238, 238, 238, 0.7);
}

_:-ms-fullscreen,
*::-ms-backdrop,
:root .contact-form.fancybox-content .contact-form-block h4 {
  color: rgba(238, 238, 238, 0.7);
}

_:-ms-fullscreen,
*::-ms-backdrop,
:root .contact-form.fancybox-content .form-wrapper form input {
  color: #3a4652;
}

_:-ms-fullscreen,
*::-ms-backdrop,
:root .contact-form.fancybox-content .form-wrapper form input[type="submit"] {
  color: rgba(51, 102, 153, 0.7);
}

_:-ms-fullscreen,
*::-ms-backdrop,
:root .contact-form.fancybox-content .form-wrapper .thank-you-hidden {
  color: #8d8787;
}

_:-ms-fullscreen,
*::-ms-backdrop,
:root .contact-form.fancybox-content .contact-wrapper .contact-text {
  color: #3a4652;
}

_:-ms-fullscreen,
*::-ms-backdrop,
:root .contact-form.fancybox-content .informs-block .inform p {
  color: #8d8787;
}

@media screen and (max-width: 1160px) {
  .banner-container {
    max-width: calc(995px + 60px + 20px);
    padding: 33px 60px 154px 20px;
  }

  .contact-form.fancybox-content .form-wrapper,
  .contact-form.fancybox-content .contact-wrapper {
    padding: 40px;
  }

  .contact-form.fancybox-content .form-wrapper {
    max-width: none;
  }

  .contact-form.fancybox-content .form-wrapper form textarea {
    max-width: 480px;
    width: 480px;
  }

  .contact-form.fancybox-content .contact-wrapper {
    max-width: 350px;
  }
}

@media screen and (max-width: 1000px) {
  .main-page.active header::before,
  .main-page.active .banner-container-wrapper::before,
  .main-page.active .about-us-wrapper::before,
  .main-page.active .expert-wrapper::before,
  .main-page.active .carts-wrapper::before,
  .main-page.active footer::before {
    display: none;
    content: none;
    background: none;
    z-index: -1;
  }

  header .menu-container.nohover .btn-menu {
    display: none;
  }

  header .menu-container.nohover .mobile-btn-menu {
    display: block;
    width: 30px;
    height: 30px;
  }

  header .menu-container.nohover .mobile-btn-menu svg {
    width: 30px;
  }

  header .menu-container.nohover .menu-list {
    -webkit-transform: translate(0, -150%);
        -ms-transform: translate(0, -150%);
            transform: translate(0, -150%);
  }

  header .menu-container:not(.nohover):hover .menu-list {
    -webkit-transform: translate(0, -150%);
        -ms-transform: translate(0, -150%);
            transform: translate(0, -150%);
  }

  header .menu-container.active .menu-list {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  _:-ms-fullscreen,
  *::-ms-backdrop,
  :root .banner-container-wrapper #background-video {
    height: 100%;
    width: inherit;
  }

  .banner-container {
    max-width: calc(995px + 45px + 45px);
    padding: 33px 45px 154px 45px;
  }

  .banner-container .inf-wrapper {
    margin-top: 69px;
  }

  .banner-container .title-container {
    max-width: 222px;
    min-width: 222px;
  }

  .banner-container .title-container .img-wrap-logo {
    width: 63px;
    margin-left: 6px;
  }

  .banner-container .title-container h1 {
    top: 9px;
  }

  .banner-container .title-container h1 span {
    font-size: 33px;
    line-height: 14px;
  }

  .banner-container .title-container h1 span:nth-child(even) {
    font-size: 20px;
    top: 6px;
  }

  .banner-container .title-container h1 span:nth-child(3) {
    top: 5px;
    font-size: 25px;
    width: 58px;
  }

  .banner-container .title-container h1 span:nth-child(4) {
    font-size: 17px;
    top: 8px;
    margin-left: -15px;
  }

  .banner-container .social-container {
    right: inherit;
    top: inherit;
    bottom: 32px;
    left: 42px;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  .banner-container .social-container ul li {
    padding: 0 20px 0 0;
  }

  .banner-container .social-container ul li::after {
    content: none;
  }

  .banner-container .social-container ul li a span {
    display: none;
  }

  .banner-container .social-container ul li a .img-wrapper {
    display: block;
  }

  .banner-container .text-container h2 {
    font-size: 30px;
  }

  .banner-container .text-container p {
    margin-top: 20px;
    font-size: 13px;
    line-height: 17px;
  }

  .banner-container .hireus-button {
    display: none;
  }

  .about-us-container {
    max-width: calc(1030px + 43px + 43px);
    margin: 0 auto;
    padding: 70px 43px 0 43px;
  }

  .about-us-container .inf-container .text-wrapper p {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-size: 12px;
    transition: 0.3s;
    overflow: hidden;
    height: 0;
  }

  .about-us-container .inf-container .text-wrapper p:first-child {
    height: auto !important;
    overflow: hidden;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  .about-us-container .inf-container .text-wrapper p:last-child {
    margin-bottom: 0 !important;
  }

  .about-us-container .inf-container .text-wrapper .btn-show-hide {
    display: block;
    font-size: 12px;
  }

  .about-us-container .inf-container .text-wrapper .text-about-us.active {
    height: auto;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  .carts-wrapper {
    padding-top: 80px;
  }

  .carts-content {
    padding: 0 38px;
  }

  .carts-content .cart {
    margin: 0 10px;
    background: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(#ffffff)), #ffffff;
    background: -o-linear-gradient(bottom, #ffffff, #ffffff), #ffffff;
    background: linear-gradient(0deg, #ffffff, #ffffff), #ffffff;
    -webkit-box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.45);
            box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.45);
    border-radius: 13.1373px;
    width: calc(306px - 100px);
    min-height: calc(225px - 80px);
    padding: 50px 30px 30px 30px;
  }

  .carts-content .cart:nth-child(2)::before,
  .carts-content .cart:nth-child(2)::after,
  .carts-content .cart:nth-child(4)::before,
  .carts-content .cart:nth-child(5)::before,
  .carts-content .cart:nth-child(5)::after {
    display: none;
  }

  .carts-content .cart:hover .img-wrapper {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }

  .carts-content .cart:hover h5 {
    font-size: 18px;
    line-height: 23px;
  }

  .carts-content .cart .img-wrapper {
    margin: 0 0 25px 0;
  }

  .carts-content .cart h5 {
    font-size: 15px;
    line-height: 20px;
  }

  .carts-content .cart:nth-child(1):hover,
  .carts-content .cart:nth-child(2):hover,
  .carts-content .cart:nth-child(3):hover,
  .carts-content .cart:nth-child(4):hover,
  .carts-content .cart:nth-child(5):hover {
    -webkit-box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.45);
            box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.45);
    border-radius: 13.1373px;
  }

  .carts-content .cart.active {
    height: auto;
    min-height: auto;
    padding: 30px;
  }

  .carts-content .cart.active .img-wrapper {
    margin: 0 0 15px 0;
  }

  .carts-content .cart.active h5 {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 15px;
  }

  .carts-content .cart.active .inform-hidden ul li {
    font-size: 11px;
    line-height: 15px;
    padding-bottom: 10px;
  }

  .carts-content .slick-list.draggable {
    padding: 20px 90px 20px 0;
  }

  .carts-content .slick-list.draggable .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .carts-content .slick-dots li {
    height: 3px;
  }

  .carts-content .slick-dots li button {
    height: 3px;
  }

  .carts-content .slick-dots li button:before {
    opacity: 1;
    color: transparent;
    background: rgba(51, 102, 153, 0.7);
    background: rgba(51, 102, 153, 0.4);
    border-radius: 10px;
    width: 20px;
    height: 3px;
    top: 50%;
    margin-top: -1.5px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  .carts-content .slick-dots li.slick-active button:before {
    background: rgba(51, 102, 153, 0.7);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  .expert-wrapper {
    padding: 63px 0 87px 0;
  }

  .expert-content {
    width: calc(100% - 53px - 53px);
    padding: 0 53px;
  }

  .expert-content .block-1 {
    max-width: calc(500px - 90px);
  }

  .expert-content .block-1 h3 {
    font-size: 26px;
  }

  .expert-content .block-1 p {
    font-size: 13px;
  }

  .footer-wrapper {
    padding: 30px;
  }

  .footer-wrapper .block-1 {
    margin-bottom: 63px;
  }

  .footer-wrapper .block-1 .text-block {
    font-size: 30px;
  }

  .footer-wrapper .block-1 .btn-connect {
    border: 1px solid var(--color-text-yellow);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-text-yellow);
    padding: 0;
  }

  .footer-wrapper .block-1 .btn-connect::after {
    content: none;
  }

  _:-ms-fullscreen,
  *::-ms-backdrop,
  :root .footer-wrapper .block-1 .btn-connect {
    border: 1px solid rgba(246, 201, 14, 0.8);
    color: rgba(246, 201, 14, 0.8);
  }

  .contact-form.fancybox-content .form-wrapper form {
    margin-top: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .contact-form.fancybox-content .form-wrapper form input,
  .contact-form.fancybox-content .form-wrapper form textarea {
    padding: 0 0 5px 0;
    font-size: 14px;
    line-height: 24px;
    max-width: 80%;
    margin-bottom: 40px;
  }

  .contact-form.fancybox-content .form-wrapper form input[type="submit"] {
    max-width: 100%;
  }

  .contact-form.fancybox-content .form-wrapper .thank-you-hidden {
    text-align: center;
  }

  .contact-form.fancybox-content .contact-wrapper .informs-block {
    margin-top: 40px;
  }

  .contact-form.fancybox-content .contact-wrapper .informs-block .inform {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 950px) {
  .expert-content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .expert-content .block-1 {
    max-width: 100%;
    margin: 0 0 80px 0;
  }

  .contact-form.fancybox-content .form-wrapper {
    width: 55%;
  }

  .contact-form.fancybox-content .form-wrapper form input,
  .contact-form.fancybox-content .form-wrapper form textarea {
    max-width: 100%;
  }

  .contact-form.fancybox-content .contact-wrapper {
    width: 45%;
    max-width: none;
  }
}

@media screen and (max-width: 800px) {
  .carts-content .cart {
    min-height: calc(200px - 45px);
    padding: 30px 15px 15px 15px;
  }

  .carts-content .slick-list.draggable {
    padding: 20px 60px 20px 0;
  }
}

@media screen and (max-width: 720px) {
  .contact-form.fancybox-content .contact-form-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contact-form.fancybox-content .form-wrapper,
  .contact-form.fancybox-content .contact-wrapper {
    width: 100%;
    padding: 30px;
    max-width: none;
  }

  .contact-form.fancybox-content .form-wrapper h4,
  .contact-form.fancybox-content .contact-wrapper h4 {
    font-size: 21px;
  }

  .contact-form.fancybox-content .contact-wrapper {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }

  .contact-form.fancybox-content .contact-wrapper .contact-text {
    margin: 20 px auto 0 auto;
    font-size: 11px;
    line-height: 15px;
    max-width: none;
    width: 100%;
  }

  .contact-form.fancybox-content .contact-wrapper .informs-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 25px;
  }

  .contact-form.fancybox-content .contact-wrapper .informs-block .inform {
    margin-bottom: 0;
    max-width: 300px;
    padding: 0 20px 20px 20px;
    margin-left: -20px;
    min-width: 260px;
  }

  .contact-form.fancybox-content .contact-wrapper .informs-block .inform .icon-wrapper {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
  }

  .contact-form.fancybox-content .contact-wrapper .informs-block .inform p {
    font-size: 12px;
    line-height: 16px;
  }

  .contact-form.fancybox-content .contact-wrapper .social-block ul li {
    margin-right: 20px;
  }

  .contact-form.fancybox-content .contact-wrapper .social-block ul li a {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
  }

  .contact-form.fancybox-content .form-wrapper form {
    margin-top: 25px;
  }

  .contact-form.fancybox-content .form-wrapper form input,
  .contact-form.fancybox-content .form-wrapper form textarea {
    padding: 0 0 3px 0;
    font-size: 12px;
    line-height: 24px;
    max-width: 80%;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 680px) {
  header .header-wrapper {
    padding: 23px 35px;
  }

  .banner-container .inf-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .banner-container .title-container {
    margin-right: 0;
  }

  .banner-container .text-container {
    max-width: 80%;
    min-width: 220px;
    width: 100%;
    margin-top: 76px;
  }

  .banner-container .text-container h2 {
    font-size: 15px;
  }

  .banner-container .text-container p {
    margin-top: 10px;
    font-size: 8px;
    line-height: 10px;
  }

  .main-content {
    background: none;
  }

  .about-us-container .bg-img {
    display: none;
  }

  .about-us-container .inf-container h4 {
    font-size: 20px;
  }

  .about-us-container .inf-container .text-wrapper p {
    font-size: 10px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    margin-bottom: 12px;
  }

  .about-us-container .inf-container .text-wrapper p:first-child {
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 15;
    -webkit-box-orient: vertical;
  }

  .about-us-container .inf-container .text-wrapper .btn-show-hide {
    font-size: 10px;
    margin-bottom: 5px;
  }

  .carts-expert-wrapper .bg-wrapper {
    display: none;
  }

  .carts-content .cart {
    min-height: calc(133px - 20px - 15px);
    padding: 20px 15px 15px 15px;
  }

  .carts-content .cart .img-wrapper {
    margin: 0 0 19px 0;
  }

  .carts-content .cart h5 {
    font-size: 10.5px;
    line-height: 13px;
    letter-spacing: 0.055em;
  }

  .carts-content .slick-list.draggable {
    padding: 20px 75px 20px 0;
  }

  .carts-content .cart.active {
    min-height: auto;
    padding: 20px 20px 20px 30px;
    min-width: calc(170px - 50px);
  }

  .carts-content .cart.active .img-wrapper {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
    margin: 0 0 10px 0;
  }

  .carts-content .cart.active h5 {
    font-size: 12.5px;
    line-height: 15px;
    letter-spacing: 0.055em;
    margin-bottom: 13px;
  }

  .carts-content .cart:hover h5 {
    font-size: 10.5px;
    line-height: 13px;
    letter-spacing: 0.055em;
  }

  .expert-wrapper {
    margin-top: 30px;
  }

  .expert-content {
    margin-top: 10px;
    width: 100%;
    padding: 0;
  }

  .expert-content .block-1 {
    margin: 0 0 27px 0;
    padding: 53px;
  }

  .expert-content .block-1 h3 {
    font-size: 20px;
  }

  .expert-content .block-1 p {
    font-size: 10px;
    line-height: 20px;
  }

  .footer-wrapper {
    padding: 10px 48px 30px 48px;
  }

  .footer-wrapper .block-1 .text-block {
    font-size: 21.5px;
    line-height: 13px;
  }

  .footer-wrapper .block-1 .btn-connect {
    width: 38px;
    height: 38px;
    font-size: 4.8px;
    line-height: 11px;
  }

  .footer-wrapper .block-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer-wrapper .block-2 .logo-block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer-wrapper .block-2 .logo-block .logo-footer {
    width: 55.7 px;
    height: auto;
  }

  .footer-wrapper .block-2 .logo-block .text-block {
    margin-top: 0;
    text-align: center;
  }

  .footer-wrapper .block-2 .logo-block .text-block p {
    font-size: 8px;
    line-height: 9px;
    margin-bottom: 0;
  }

  .footer-wrapper .block-2 .logo-block .text-block p.post {
    display: none;
  }

  .footer-wrapper .block-2 nav {
    margin-top: 37px;
  }

  .footer-wrapper .block-2 nav ul li a {
    font-size: 12px;
    line-height: 11px;
    margin-bottom: 10px;
    text-align: center;
  }

  .footer-wrapper .footer-content-2 {
    margin-top: 0;
  }

  .footer-wrapper .footer-content-2 a {
    font-size: 12px;
    line-height: 11px;
    margin-bottom: 10px;
  }

  .footer-wrapper .footer-content-2 .copyright {
    display: none;
  }

  .footer-wrapper .social-container {
    display: block;
    margin-top: 15px;
  }

  .footer-wrapper .social-container ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer-wrapper .social-container ul li {
    padding: 0 10px;
  }

  .footer-wrapper .social-container ul li a .img-wrapper {
    -webkit-transform: scale(0.85);
        -ms-transform: scale(0.85);
            transform: scale(0.85);
  }
}

@media screen and (max-width: 560px) {
  .contact-form.fancybox-content .form-wrapper form input,
  .contact-form.fancybox-content .form-wrapper form textarea {
    max-width: 100%;
  }
}

@media screen and (max-width: 460px) {
  .banner-container .text-container {
    max-width: 220px;
  }

  .expert-content .block-2 {
    max-width: 237px;
  }
}

@media screen and (max-width: 399px) {
  .carts-content .cart {
    width: auto !important;
    min-height: calc(133px - 20px - 15px);
    padding: 20px 15px 15px 15px;
  }
}

.webp footer { background-image: url(../img/bg.webp); }

.webp _:-ms-fullscreen, .webp *::-ms-backdrop, .webp :root .banner-container-wrapper { background-image: url(../img/maxresdefault.webp); }

.webp _:-ms-fullscreen, .webp *::-ms-backdrop, .webp :root footer { background-image: url(../img/bg.webp); }